.body {
    font-family: Gilroy Regular;
}

.navi {
    position: relative;
    background-color: #000000;
}

.cards {
    margin: 20px 40px;
}

.drk {
    background: #000000;
}

.cube {
    border: solid #55B432 8px;
    font-size: 30px;
    text-align: center;
}

.footer {
    height: 100px;
    text-align: center;
}
