.tars {
    opacity: 0;
    transition-duration: 1s;
    display: none;
}

.hoverable:hover {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}

.box {
    border: solid 2px;
    text-align: center;
}

#ctar {
    transition-duration: 1s;
}

.calc {
    background: black;
    text-align: center;
}

.back {
    position: absolute;
    left: 90%;
    z-index: 1;
}
